
#top{
  color: blue; 
  font-size: 30px;
}

body{
  border-style:double outset;
  border-color:rgb(160,160,160);
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4{
  color: green; 
  font-size: 30px;
}

header.logo{
  margin: 5%;
}

/* Table Style */
table th{
  font-family:Arial, Helvetica, sans-serif;
  font-size:25px;
  text-transform:none;
  padding-bottom:20px;
  padding-right: 30px;
  width:60px;
  box-sizing: border-box;
}

/* Styles on Link */
#Content li{
  list-style: none;
  font-size: 20px;
}

#Content a:link, a:visited{
  text-decoration: none;
  margin:10px;
  border: 2px none gray;
  display:block;
  width:250px;
  color:blue;
}

#Content a:hover, a:active{
  background-color:gray;
  color:purple;
}
/* Email to support group */
footer a{
  text-decoration: none;
}
/* Gallery */
#section3 a{
  text-decoration: none;
}
/* Form */
#section4 a{
  text-decoration: none;
}

/* Back To Top */
div a{
  text-decoration: none;
}
